<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Explore Local</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script src="
    https://cdn.jsdelivr.net/npm/jquery-toast-plugin@1.3.2/dist/jquery.toast.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/jquery-toast-plugin@1.3.2/dist/jquery.toast.min.css
    " rel="stylesheet">
    <link href="/static/logo.webp" rel="icon">
</head>

<body class="bg-gray-100 w-full h-screen md:overflow-hidden">

    <header
        class="relative bg-white flex flex-col overflow-hidden px-4 md:px-44  py-4 text-blue-900 md:mx-auto md:flex-row md:items-center shadow-sm">
        <a href="/" class="flex cursor-pointer items-center whitespace-nowrap text-2xl font-bold text-cyan-800">
            <span class="mr-2 text-4xl text-cyan-700">
                <svg height="1em" width="1em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 415.59 415.59" xml:space="preserve">
                    <g>
                        <path style="fill:none;" d="M207.795,24C106.451,24,24,106.45,24,207.793c0,101.346,82.451,183.797,183.795,183.797
		c101.344,0,183.795-82.451,183.795-183.797C391.59,106.45,309.139,24,207.795,24z M322.508,109.027l-0.098,0.181
		c-0.137,0.283-0.287,0.558-0.445,0.83l-72.305,134.701c-1.115,2.073-2.814,3.773-4.889,4.887l-135.131,72.572
		c-0.048,0.026-0.096,0.053-0.145,0.078l-0.051,0.027l-0.002-0.003c-3.391,1.735-7.548,1.836-11.156-0.105
		c-1.06-0.569-2-1.275-2.809-2.085c-3.648-3.648-4.648-9.389-2.08-14.166l72.596-135.034c1.114-2.073,2.813-3.773,4.887-4.888
		l135.065-72.625c5.838-3.139,13.113-0.952,16.252,4.887c1.861,3.463,1.836,7.427,0.299,10.738L322.508,109.027z" />
                        <polygon style="fill:none;" points="133.371,282.278 219.172,236.141 179.502,196.47 	" />
                        <path style="fill:#3D6889;" d="M207.795,0C93.217,0,0,93.216,0,207.793C0,322.372,93.217,415.59,207.795,415.59
		c114.578,0,207.795-93.218,207.795-207.797C415.59,93.216,322.374,0,207.795,0z M207.795,391.59
		C106.451,391.59,24,309.139,24,207.793C24,106.45,106.451,24,207.795,24C309.139,24,391.59,106.45,391.59,207.793
		C391.59,309.139,309.139,391.59,207.795,391.59z" />
                        <polygon style="fill:#73D0F4;" points="236.153,219.179 282.282,133.371 196.48,179.507 	" />
                        <path style="fill:#3D6889;" d="M322.198,98.284c-3.139-5.839-10.414-8.025-16.252-4.887l-135.065,72.625
		c-2.073,1.115-3.773,2.814-4.887,4.888L93.398,305.945c-2.568,4.777-1.568,10.518,2.08,14.166c0.809,0.81,1.748,1.516,2.809,2.085
		c3.608,1.94,7.766,1.84,11.156,0.105l0.002,0.003l0.051-0.027c0.049-0.025,0.097-0.052,0.145-0.078l135.131-72.572
		c2.074-1.114,3.773-2.813,4.889-4.887l72.305-134.701c0.158-0.272,0.309-0.547,0.445-0.83l0.098-0.181l-0.012-0.004
		C324.034,105.711,324.059,101.747,322.198,98.284z M133.371,282.278l46.131-85.808l39.67,39.671L133.371,282.278z M236.153,219.179
		l-39.672-39.672l85.801-46.136L236.153,219.179z" />
                    </g>
                </svg>
            </span>
            Explore Local
        </a>
        <input type="checkbox" class="peer hidden" id="navbar-open" />
        <label class="absolute top-5 right-7 cursor-pointer md:hidden" for="navbar-open">
            <span class="sr-only">Toggle Navigation</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </label>
        <nav aria-label="Header Navigation"
            class="peer-checked:mt-8 peer-checked:max-h-56 flex max-h-0 w-full flex-col items-center justify-between overflow-hidden transition-all md:ml-24 md:max-h-full md:flex-row md:items-start">
            <ul class="flex flex-col items-center space-y-2 md:ml-auto md:flex-row md:space-y-0">
                <li class="font-bold md:mr-12"><a href="/">Home</a></li>
                {% if session["user_id"] %}
                <li class="md:mr-12"><a href="/saved">Saved</a></li>
                {% endif %}
                <li class="md:mr-12"><a href="/aboutUs">About Us</a></li>
                <li class="md:mr-12"><a href="/aboutMe">About Me</a></li>
                {% if session["user_id"] %}
                <li class="md:mr-12">
                    <a href="/logout">
                        <button
                            class="rounded-full border-2 border-blue-900 px-6 py-1 text-blue-900 transition-colors hover:bg-blue-900 hover:text-white">Logout</button></a>
                </li>
                {% else %}
                <li class="md:mr-12">
                    <a href="/login">
                        <button
                            class="rounded-full border-2 border-blue-900 px-6 py-1 text-blue-900 transition-colors hover:bg-blue-900 hover:text-white">Login</button>
                </li></a>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}


    {% block main %}{% endblock %}


    <svg class="-z-10 absolute -top-10 opacity-10" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="a" patternUnits="userSpaceOnUse" width="20" height="20" patternTransform="scale(2) rotate(0)">
                <rect x="0" y="0" width="100%" height="100%" fill="hsla(0,0%,100%,1)" />
                <path d="M3.25 10h13.5M10 3.25v13.5" stroke-linecap="square" stroke-width="0.5"
                    stroke="hsla(258.5,59.4%,59.4%,1)" fill="none" />
            </pattern>
        </defs>
        <rect width="800%" height="800%" transform="translate(0,0)" fill="url(#a)" />
    </svg>


</body>

</html>