{% extends "layout.html" %}


{% block main %}


<div
    class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden ">
    <div class="relative sm:w-96 mx-auto text-center mb-32">
        <span class="text-2xl font-light ">Create An account In Explore Local!</span>
        <div class="mt-4 bg-white shadow-md rounded-lg text-left">
            <div class="h-2 bg-cyan-400 rounded-t-md"></div>
            <form action="/register" method="post">
                <div class="px-8 py-6 ">
                    <label class="block font-semibold"> Username</label>
                    <input type="text" placeholder="username" name="username" required autofocus
                        class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
                    <label class="block mt-3 font-semibold"> Password </label>
                    <input type="password" placeholder="Password" name="password" required autofocus
                        class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
                        <label class="block mt-3 font-semibold">Confirme Password </label>
                        <input type="password" placeholder="Password" name="confirmation" required autofocus
                            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
                    <div class="flex justify-between items-baseline">
                        <button type="submit"
                            class="mt-4 bg-cyan-500 text-white py-2 px-6 rounded-md hover:bg-cyan-600 ">Register Now</button>
                        <a href="/login" class="text-sm underline hover:text-cyan-600">login to existing account!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}